/ いずれコントローラもしくはモデルでの処理にて、status(:boolean)の値を参照して、
/ falseであれば「申請中」、trueであれば「精算済」と表示するよう設定する
/ 差し当たり、「申請中」という表示で固定しておく

h1.mt-5.mb-5 申請の修正（代理）

= render 'shared/error', bill: @bill
= render 'form', bill: @bill